

.project
coin_market_automation/Logs
coin_market_automation/.settings
coin_market_automation/bin
coin_market_automation/.DS_Store
coin_market_automation/target
.DS_Store
coin_market_automation/.classpath
coin_market_automation/test-output
coin_market_automation/temp/InfoEmail.html
.idea
coin_market_automation/temp/testVariables.json
coin_market_automation/src/test/java/dashboard/runnerClass/DashboardTest.java